body {
    background-color: #D2A79B;
}

.nav-link:hover{
    font-size: 1.2rem;
    transition: all .5s ease;
}

.logoimg:hover{
    height: 80px;
    transition: all .5s ease;
}

#hero {
    text-align: center;
    margin-bottom: 2%;
}

.backgroundimg {
    height: 80vh;
}

.bgimg {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;

}

.greeter {
    color: #083B25;
    font-weight: bold;
    position: absolute;
    font-family: 'Allura', cursive;
    margin: 12% 0 0 4%;
    font-size: 4rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.greeter:hover { font-size: 5em; color: black; }

#cardid {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar {
    height: 15%;
}

.card-decor {
    margin: 4% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.05, 1.05);
    transition: 0.8s all ease-out;
}


.card-title {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.font-cont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vaccine-btn {
    padding: 2%;
    margin-bottom: 5%;
}

@media (max-width: 780px) {
    .card-img-top {
        display: none; 
    }
    .greeter {
        font-size: 3rem;
    }
    .greeter:hover {font-size: 3rem; }
}